<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="concurrentBehavior">
          <!--<serviceThrottling maxConcurrentCalls="3"/>-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug  includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          

        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services >
      <service name="ConcurrentTest.Services.ServiceImp" behaviorConfiguration="concurrentBehavior"  >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ConcurrentTest.Services/IService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="ConcurrentTest.Services.IService" bindingName="concurrentBinding"  >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="concurrentBinding" maxBufferPoolSize="5242880000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered"  useDefaultWebProxy="true"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
 maxBytesPerRead="4096" maxNameTableCharCount="16384" />

        </binding>
      </basicHttpBinding>
      <wsHttpBinding >
        <binding  name="concurrentBinding" maxBufferPoolSize="102400"></binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <httpRuntime maxRequestLength="512000" executionTimeout="120" />
  </system.web>

</configuration>