<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="concurrentBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint name="service1" address="http://localhost:8733/ConcurrentTest.Services/IService/" binding="wsHttpBinding" contract="IService" behaviorConfiguration="concurrentBehavior" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding  maxBufferPoolSize="5242880000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered"  useDefaultWebProxy="true"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
 maxBytesPerRead="4096" maxNameTableCharCount="16384" />

        </binding>
      </basicHttpBinding>
      <wsHttpBinding >
        <binding  name="concurrentBinding" maxBufferPoolSize="102400"></binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="512000" executionTimeout="120" />
  </system.web>

</configuration>